.memeGeneratedContainer {
    width: 90%;
    margin: auto;
    text-align: center;
}

.copy {
    background-color: #0275d8;
    margin-bottom: 3rem;
}

.home {
    background-color: #f0ad4e;
}

@media(min-width: 768px) {
    .memeGeneratedContainer {
        width: 500px;
    }
}