body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
      'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.memeContainer {
    width: 90%;
    margin: auto;
    text-align: center;
}
  
button {
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    margin: auto;
    margin-bottom: 1rem;
    color: white;
    border: none;
    border-radius: 0.25rem;
}

img {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    box-shadow: 0px 0px 10px black;
}

input {
    box-sizing: border-box;
    padding: 0.8rem;
    width: 100%;
    margin: auto;
    outline: none;
    border: 1px solid #E5E5CB;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

h1 .spanM {
    color: #0A6847;
}

h1 .memeSpan {
    color: #FB8B24;
}

h1 .spanC {
    color: #211C6A;
}

.author {
    margin-bottom: 2rem;
}

.author a {
    text-decoration: none;
    color: #008170;
}

@media(min-width: 768px) {
    .memeContainer {
        width: 500px;
    }

    button {
        padding: 15px;
        margin-bottom: 18px;
    }
    
    input {
        padding: 14px;
        max-width: 500px;
        margin: auto;
        margin-bottom: 20px;
    }

    h1 {
        margin-top: 50px;
    }

    img {
        max-width: 500px;
        margin-top: 15px;
        margin-bottom: 50px;
    }
}